@import '../modules/typography.styles.scss';
@import '../modules/mixins.styles.scss';
@import '../modules/variables.styles.scss';
.Updates {
  position: absolute;
  padding: $spacing-sm;
  bottom: 0;
  right: 0;
  left: 200px;
  background: rgba($white, 0.1);
  display: flex;
  align-items: center;
  display: flex;
  justify-content: space-between;

  @include for-size(tablet-landscape) {
    display: none;
  }

  p {
    color: $white;
  }

  &__view-more {
    display: flex;
    align-items: center;
    font-size: 1em;
    text-decoration: none;
    color: $white;

    p {
      margin: 0 5px 0;
      font-family: 'Quicksand';
    }
  }
}
